@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rock+Salt&display=swap');

.logoName{
  font-family: 'Gloria Hallelujah', cursive !important;
  font-size: 1.65em !important;
  color: #f56639 !important;
}

.link{
color: white;
}

.loginButton{
  border-radius: 18px !important;
}

.izaLogo{
  width: 350px;
  height: 350px;
}

.description{
  font-size: 1.1em !important;
}

.gridContainer{
  @media screen and (max-width: 700px) {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    
  }
}